<div style="width: 400px; margin: auto;">
    <div *ngIf="currentOrder" class="edit-form">
      <h4>Edit Order</h4>
      
        <!-- Customer ID -->
        <div class="form-group">
          <label for="customer"><strong>Customer: </strong></label> 
          &nbsp; &nbsp; {{ currentOrder.customer.name }}
          <!-- <input
            type="text"
            class="form-control"
            disabled
            [(ngModel)]="currentOrder.customer.name"
            name="customer"
          /> -->
        </div>
        <!-- Employee ID -->
        <div class="form-group">
          <label for="employee"><strong>Employee:</strong></label>
          &nbsp; &nbsp; {{ currentOrder.employee.name }}
          <!-- <input
            type="text"
            class="form-control"
            disabled
            [(ngModel)]="currentOrder.employee.name"
            name="employee"
          /> -->
        </div>       
        <!-- Date -->
        <div class="form-group">
            <label for="dateplaced"><strong>Date:</strong></label>
            &nbsp; &nbsp; {{ currentOrder.dateplaced }}
            <!-- <input
                type="text"
                class="form-control"
                disabled
                [(ngModel)]="currentOrder.dateplaced"
                name="dateplaced"
            /> -->
        </div>
        <!-- Start the form -->
        <form>
          <!-- Product -->
        <div class="form-group">
            <label for="product">Product</label>
            <select name="product" [(ngModel)]="products">
              <option *ngFor="let prod of products" value="currentOrder.products">
                {{ products.name }}
              </option>
            </select>
            <!-- <input
              type="text"
              class="form-control"
              
              [(ngModel)]="currentOrder.product"
              name="product"
            /> -->
        </div>
        <!-- Quantity -->
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="text"
              class="form-control"
              
              [(ngModel)]="currentOrder.quantity"
              name="quantity"
            />
          </div>
          <!-- Discount -->
          <div class="form-group">
            <label for="discount">Discount</label>
            <input
              type="text"
              class="form-control"
              
              [(ngModel)]="currentOrder.discount"
              name="discount"
            />
          </div>
      </form>
    <!-- SHOULD THERE BE AN ADD BUTTON FOR THIS?
        to add additional products to this order  -->

      

      <button 
        class="badge badge-danger mr-2" 
        (click)="deleteOrder()"
      >
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mr-2"
        (click)="updateOrder()"
      >
        Complete Order
      </button>

      <button
        type="submit"
        class="badge badge-primary mr-2"
        (click)="addProductToOrder()"
      >
        Add Product
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentOrder">
      <br />
      <p>Cannot access this Order...</p>
    </div>
  </div>
  