/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 

body {
    background-image: url('./assets/images/pizzalight.jpg');

    background-color: lightgray;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; centering makes the scroll/resize jumpy*/
    background-repeat: no-repeat;

}