<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
          <!-- form for creating a new order -->
        <div class="form-group">
          <label for="customerId">Customer ID</label>
          <input
            type="text"
            class="form-control"
            
            required
            [(ngModel)]="order.customer.customerId"
            name="customerId"
          />
        </div>
  
        <div class="form-group">
          <label for="employeeId">Employee ID</label>
          <!-- TODO: Can we make this a dropdown,
                displaying only employees that are 'active'? -->
          <!-- <select name="employee" [(ngModel)]="order.employee">
            <option *ngFor="let employee of employees" [(ngValue)]="employee">{{ employee.name }}</option>
          </select> -->
          <input
            class="form-control"
            
            required
            [(ngModel)]="order.employee.employeeId"
            name="employeeId"
          />
        </div>

        <div class="form-group">
            <label for="dateplaced">Date</label>
            <input
              type="date"
              class="form-control"
              
              required
              [(ngModel)]="order.dateplaced"
              name="dateplaced"
            />
          </div>
  
        <button (click)="saveOrder()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Order sucessfully created!</h4>
        <button class="btn btn-success" (click)="newOrder()">Add</button>
      </div>
    </div>
  </div>
  